:root{
    --link-color: #55758A;
    --link-hover-color: #9A758E;
    --link-hover-background: #302E2F;
    --background-color: #18191A;
    --header-color: #7A7A7A;
}
a {
	text-decoration: none;
	color: var(--link-color);
	font-family: sans-serif;
	font-size: 16px;
	text-align: center;
	margin-top: 7px;
	display: block;
	line-height: 20px;
	transition-duration: 0.1s;
}

a:hover {
	color: var(--link-hover-color);
	background-color: var(--link-hover-background);
}

body {
	background-color: var(--background-color);
	text-align: center;
    display: flex;
    flex-direction: column;
}

h1 {
	font-family: sans-serif;
	font-size: 80px;
	color: var(--header-color);
	text-align: center;
	margin-bottom: 15px;
}

h7 {
	font-size: 20px;
	color: var(--header-color);
	text-align: center;
	font-family: sans-serif;
	border-bottom: 1px dotted var(--header-color);
}

div {
	margin: auto;
	text-align: center;
}

#container {
	width: 100%;
	display: flex;
    justify-content: center;
}

.square {
    display: flex;
    flex-direction: column;
	height: auto;
	margin: 2rem;
	vertical-align: top;
}

ul.content {
	margin: auto;
	padding-left: 0;
    list-style: none;
}

span {
	width: inherit;
	height: inherit;
	line-height: 50px;
}

.search {
	border-bottom: 1px solid var(--header-color);
	padding: 5px;
	width: 30%;
	display: block;
	margin: auto;
	margin-top: 25px;
}

.search-box {
	background-color: inherit;
	color: var(--header-color);
	border: none;
	width: 100%;
	margin: auto;
	padding: 0;
	font-family: sans-serif;
    text-align: center;
}

.search-box:focus {
	outline: none;
}
